th {
    padding: 10px;
    background-color: black;
    color: white;
}
img {
    width: 300px;
    height: 200px;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.purple {
    background-color :purple;
}
.blue {
    background-color: blue;
}
a {
    padding-left: 45%;
}
img {
    border-radius: 50px;
}
img:hover {
    width: 350px;
    height: 250px;
}