.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 200px;
    background-color: black;
}
.nav {
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 600px;

}
.f1 {
    height: 100%;
    width: 15%;
    /* padding-right: 10px; */
    display:inline;
    float: left;
    border-right: 4px dotted black;
    padding-left: 30px;
    padding-right: 20px;

}
.f2 {
    height: 100%;
    width: 65%;
    display: inline;
    float: left;
    margin-left: 50px;

}
.footer {
    width: 100%;
    height: 200px;
    background-color: black;
}
.logo {
    padding-left: 250px;
    padding-top: 5px;
    width: 500px;
    height: 200px;
}
.heart {
    height: 120px;
    width: 120px;
    padding-top: 20px;
}
li {
    margin-top: 20px;
}
.text {
    width: 85%;
    display: inline;
    float: left;
    box-sizing: border-box;
}
.sense-image {
    width: 15%;
    display: inline;
    float: left;
    margin-left: -4px;
}
.test {
    padding-left:30px;
    color:red;
    padding-top: 100px;
}
.dotdown {
    margin-bottom: 0px;
    width: 100%;
}
.topleft {
    height: 100%;
}
.topright {
    padding-left: 220px;
    height: 100%;
}
.footer-up {
    height: 75%;
}
.footer-down {
    height: 25%;
}