body {
    background: linear-gradient(43deg, rgba(255,227,0,1) 5%, rgba(199,0,168,1) 57%, rgba(29,26,222,1) 87%);
}
td {
    width: 260px;
    height: 141px;
    border: 1px black solid;
    background-color: orange;
    padding-left: 110px;
    transition: font-size 0.5s;
}
table {
    margin-left: 50px;
    margin-right: 50px;
}
td:hover {
    background-color: red;
    font-size: 30px;
    color: wheat;
}
.day {
    background-color: blue;
}
.time {
    background-color: yellow;
}