h1 {
    color: green;
}
h2 {
    color:purple;
}
ul {
    color:red;
}
body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(189,44,108,1) 43%, rgba(253,43,29,1) 87%, rgba(252,176,69,1) 100%);
}
.orange {
    margin: 100px 0px 0px 100px;
    border: 10px dashed black;
    width: 100px;
    height: 100px;
}
.ball {
    width: 300px;
    height: 300px;
    margin: 100px 0px 100px 100px;
    border-left: 10px dotted black;
    border-right: 10px dotted black;
    padding-left: 30px;
}
.top {
    border-top: 30px outset red;
    border-right: 40px inset blue;
    margin: 50px 0px 0px 40px;
    padding: 30px 40px 0px 10px;
    background-color: black;
    color: pink;
    height: 50px;
    width: 200px;
}
.bottom {
    border-bottom: 30px outset red;
    border-left: 40px inset blue;
    margin: 0px 40px 50px 0px;
    padding: 30px 40px 0px 10px;
    background-color: green;
    color:  purple;
    height: 100px;
    width: 200px;
}